.VideoEdit{
  position: relative;
  text-align: center;
  background: #1a1916;
  overflow: hidden;
}

.skill {
  position: relative;
  background: #1a1916;
  width: 100%;
}

.skill::after{
  content: '';
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  height: 0.25rem;
  background: #1a1916;
}
  
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item .sliders-player {
  margin: 0 auto 0 auto;
  width: auto;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.skill-slider .item p {
  margin: 0 auto 0 auto;
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 2.5rem;
  overflow: hidden;
  text-align: center;
}

.item .sliders-player:hover{
  filter: opacity(0.6);
}

.custom-right-arrow {
  position: absolute;
  right: 2rem;
  z-index: 1;
  border: 1px solid gold;
  border-width: 0 0.3rem 0.3rem 0;
  border-radius: 0.1rem;
  display: inline-block;
  padding: 0.5rem;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(-45deg);
  margin-bottom: 3.5rem;
}

.custom-left-arrow {
  position: absolute;
  left: 2rem;
  z-index: 1;
  border: 1px solid gold;
  border-width: 0 0.3rem 0.3rem 0;
  border-radius: 0.1rem;
  display: inline-block;
  padding: 0.5rem;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(135deg);
  margin-bottom: 3.5rem;
}