.work{
    background-color: #1a1916;
}

.workContent{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.workText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    background-color: black;
    padding: 2rem;
    align-items: center;
}

.workCompany{
    padding-bottom: 0rem;
}

.workJob{
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.workDescription{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.workGallery{
    width: 100%;
    column-count: 3;
    column-width: 33%;
    padding: 0 1rem 0 1rem;
    justify-content: center;
    width: 60vw;
}

.workGallery .workVideos{
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 0.75rem;
    position: relative;
}

.workGallery .workVideos:hover{
    filter: opacity(0.75);
}

@media (max-width: 991px){
    .workGallery{
        column-count: 2;
    }
}

@media (max-width: 480px){
    .workGallery{
        column-count: 1;
        column-width: 100%;
    }
}